@import '../../styles/config';
.container {
	display: block;
	@media (min-width: 960px) {
		width: 900px;
		flex: 1;
	}
}

.pag-container {
	display: inline-flex;
}

.pag-button {
	margin: 10px;
	.ant-btn {
		border-radius: 5px;

		&:hover {
			color: $maincolor;
			border-color: $maincolor;
		}
	}
}
