@import '../../styles/config';
.container {
	display: block;
	@media screen and (min-width: 960px) {
		width: 900px;
		flex: 1;
	}
}

.pag-container {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;

	li {
		&:active:hover {
			color: $maincolor;
			border-color: $maincolor;
		}
	}
}
